<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
  </head>
  
  <a href="/dashboard"> &larr; Back</a>
  
  <div class="admin-title">
      <h2> Edit Post</h2>
    <form action="/delete-post/<%=data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
  </div>
  
  

  <form action="/add-post" method="POST">
      <label for="title"><b>Title</b></label>
      <input type="text" placeholder="Post Title" name="title">
  
      <label for="body"><b>Content</b></label>
      
       <input id="x" type="hidden" name="body">
      <trix-editor input="x" autofocus="false"></trix-editor>
      <input type="submit" value="Add" class="btn">
  </form>